<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>190809979648-c7fa84jjgiv4ui67ois9agtcva9p1ojn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190809979648-c7fa84jjgiv4ui67ois9agtcva9p1ojn</string>
	<key>API_KEY</key>
	<string>AIzaSyDXJNEcnf-5GN3y4JyqAImj6HGaT6Rr5_g</string>
	<key>GCM_SENDER_ID</key>
	<string>190809979648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.bahaBoulaabi.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-d8ed7</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-d8ed7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190809979648:ios:025e537533016cff7991e5</string>
</dict>
</plist>